/.vscode
/1.xml
/analyze
/basics
/breaking.html
/canvas.html
/drag.js
/excel
/ffmpeg.exe
/ffplay.exe
/ffprobe.exe
/PythonTkinter
/tab_Switch.html
/test.docx
/test.html
/upload.html
/using.py
/yingdao.html
/yingdao.js
/__pycache__